**/site/*
**/dist/*
**/*.egg_info/*
**/.koparde*
**/*.pyc
**/.prettierrc
**/*.tmp
**/createtar.*.err
**/createtar.*.out
**/deposittar.*.err
**/deposittar.*.out
**/createmetadata.*.out
**/createmetadata.*.err
**/createemptycollection.*.err
**/createemptycollection.*.out
