# Project Information
site_name: parkit Documentation
site_author: CCBR
site_description: >-
  Versioned documentation for parkit and projark project archival workflows on HPC-DME.

# Repository
repo_name: CCBR/parkit
repo_url: https://github.com/CCBR/parkit
edit_uri: https://github.com/CCBR/parkit/edit/main/docs/

# Copyright
copyright: Copyright &copy; 2026 CCBR

# Configuration
theme:
  name: material
  features:
    - navigation.tabs
    - navigation.top
    - navigation.indexes
    - toc.integrate
  palette:
    - scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to dark mode
    - scheme: slate
      primary: red
      accent: red
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode
  logo: assets/images/doc-book.svg
  favicon: assets/images/favicon.png

# Plugins
plugins:
  - search
  - git-revision-date
  - minify:
      minify_html: true

# Customization
extra:
  social:
    - icon: fontawesome/solid/users
      link: http://bioinformatics.cancer.gov
    - icon: fontawesome/brands/github
      link: https://github.com/CCRGeneticsBranch
    - icon: fontawesome/brands/docker
      link: https://hub.docker.com/orgs/nciccbr/repositories
  version:
    provider: mike

# Extensions
markdown_extensions:
  - markdown.extensions.admonition
  - markdown.extensions.attr_list
  - markdown.extensions.def_list
  - markdown.extensions.footnotes
  - markdown.extensions.meta
  - markdown.extensions.toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.magiclink:
      repo_url_shorthand: true
      user: squidfunk
      repo: mkdocs-material
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.snippets:
      check_paths: true
  - pymdownx.superfences
  - pymdownx.tabbed
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde

# Page Tree
nav:
  - Home: index.md
  - Getting Started: getting-started.md
  - CLI Reference:
      - parkit Overview: cli/parkit-overview.md
      - parkit checkapisync: cli/parkit-checkapisync.md
      - parkit syncapi: cli/parkit-syncapi.md
      - projark Overview: cli/projark-overview.md
      - projark deposit: cli/projark-deposit.md
      - projark retrieve: cli/projark-retrieve.md
  - Workflows:
      - projark Deposit (Recommended): workflows/projark-deposit-workflow.md
      - projark Retrieve Selected Files: workflows/projark-retrieve-selected.md
      - projark Retrieve Full Collection: workflows/projark-retrieve-full.md
      - Classic parkit Manual Flow (Legacy): workflows/classic-parkit-manual.md
  - Operational Guidance: operations.md
  - Troubleshooting: troubleshooting.md
  - Release Notes:
      - v3.0.1: release-notes/v3.0.1.md
      - v3.0.0: release-notes/v3.0.0.md
  - Legacy:
      - Archived Bash projark: legacy.md
